#contentNew {
    font-family: 'Helvetica', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
    font-size: 14px;
    letter-spacing: -0.01em;
    line-height: 125%;
    //width: calc(100vmax - 125px);
    height: 85vh;
    /*text-align: center;*/
    /*background-color: #AFC1C4; */
    background-color: #f1f3f5;
    color: #353637;
    position: absolute;
    top: 90px;
    left: 125px;
    //position: absolute;
    /*border: 1px solid #aaa;*/
    //margin: 85px 5px 0px 125px;
    overflow-y: scroll;
}

#contentNew h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#contentNew h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
}

#contentNew img {
  max-width: 680px;
}

#contentNew p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
#contentNew ul {
  margin-left: 5px;
}

#contentNew a {
    color: #1ca3be;
    text-decoration: none;
}

#contentNew a:hover {
    color: #24d4f7;
}

#contentNew pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
