#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  height: 30px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #f1f3f5;
}

#header_title {
  float: right;
  text-align: right;
  vertical-align: middle;
  padding-top: 7.5px;
  font-weight: bolder;
  font-size: 1.25em;
  background-color: #f1f3f5;
}

#header .logo {
  float: left;
  vertical-align: middle;
  background-color: #f1f3f5;
}

#header .logo img {
  width:200px;
  height:28px;
  background-color: #f1f3f5;
}
