#header {
  width: 100%;
  height: 50px;
  background-color: #f1f3f5;
}

#header .logo {
  float: left;
  vertical-align: middle;
  background-color: #f1f3f5;
}

#header .logo img {
  /*width:200px;*/
  height:35px;
  background-color: #f1f3f5;
}
