body {
    font-size: medium;
    font-family: "Helvetica-Light","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",Helvetica,sans-serif,Arial;
    color: #353637;
    background-color: #f1f3f5;
}
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 5px;
}

img {
  max-width: 680px;
}

p {
  margin: 0;
  padding: 0;
  margin-left: 5px;
}
ul {
  margin-left: 5px;
}

a {
    color: #1ca3be;
    text-decoration: none;
}

a:hover {
    color: #24d4f7;
}

pre {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.95em;
    letter-spacing: 0.015em;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}
