#navigation nav ul {
  list-style-type: none;
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #353637;
  box-sizing: content-box;

}

#navigation nav ul li {
  float: left;
}

#navigation nav ul li a {
  display: block;
  color: #f1f3f5;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navigation nav ul li a:hover {
  /*background-color: #111;*/
  color: #24d4f7;
}

#navigation nav ul li a:active {
  background-color: #111;
}
