table {
    width: 100%;
    table-layout: fixed;
}

td {
    font-family:Splunk Platform Sans,Proxima Nova,Roboto,Droid,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #FFF;
}

#mitrematrix td {
    width: 8%;
}

#mitretitle td {
    width: 8%;
}

td.text-align-center {
    text-align: left;
}

td.add-border {
    border: 1px solid rgba(43, 42, 42, 0.233);
}

td.subtechnique {
    color: #565758 !important;
    font-size: small;
    font-style: italic;
    text-align: left;
    padding-left: 30px !important;
}

td.subtechnique-matrix {
    font-size: small;
    font-style: italic;
    text-align: left;
    padding-left: 30px !important;
}
/*
 * Splunk ES App colors
 * info: 53a051
 * low:  0877a6
 * med:  f8be34
 * high: f1813f
 * crit: dc4e41
*/

td.range-none {
    color: #888 !important;
    background-color: #F5F5F5 !important;
}

td.subtechnique.range-none {
    background-color: #FFF !important;
}
/*
 * Compliance CSS
*/
td.range-compliance_zero {
    background-color: #24d4f742 !important;
}

td.range-compliance_low {
    background-color: #24d4f74f !important;
}

td.range-compliance_mid {
    background-color: #24d4f7b0 !important;
}
td.range-compliance_high {
    background-color: #24d4f7fa !important;
}
/*
 * Triggered CSS
*/
td.range-info {
    background-color: #53a051 !important;
    color: #FFFFFF !important;
}

td.range-low {
    background-color: #0877a6 !important;
    color: #FFFFFF !important;
}

td.range-med {
    background-color: #f8be34 !important;
    color: #FFFFFF !important;
}

td.range-high {
    background-color: #f1813f !important;
    color: #FFFFFF !important;
}

td.range-crit {
    background-color: #dc4e41 !important;
    color: #FFFFFF !important;
}

td.title-range-cell {
    font-size: 4em;
    font-weight: bold;
    line-height: 1em;
}

td.title-range-info {
    color: #53a051 !important;
}

td.title-range-low {
    color: #0877a6 !important;
}

td.title-range-med {
    color: #f8be34 !important;
}

td.title-range-high {
    color: #f1813f !important;
}
td.title-range-crit {
    color: #dc4e41 !important;
}

td.title-range-none {
    color: #888 !important;
}
/* Dark Theme */

td.range-cell.range-none-matrix.dark {
  color: #F1F3F5 !important;
  background-color: #00000020 !important;
}
td.dark {
  color: #F1F3F5 !important;
  background-color: #00000020 !important;
}

.tooltip-inner { max-width: 400px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    }
