
/* Cell Highlighting */

/* 
#highlight td {
    background-color: #c1ffc3 !important;
}
*/

#highlight td.text-align-center {
    text-align: center;
}

#highlight td.add-border {
    border: 1px solid rgba(43, 42, 42, 0.233); 
}

#highlight td.range-nonexistent {
    background-color: #f1f3f5a6!important;
    font-weight: bold;
}

#highlight td.range-existbutzero {
    background-color: #24d4f7a6 !important;
    font-weight: bold;
}

#highlight td.range-low {
    background-color: #1ca3bea6 !important;
    font-weight: bold;
}

#highlight td.range-mid {
    background-color: #cc4446a6 !important;
    font-weight: bold;
}

#highlight td.range-high {
    background-color: #353637a6 !important;
    font-weight: bold;
}

#highlight td.range-all {
    background-color: #065dffa6 !important;
    font-weight: bold;
}

/* Dark Theme */

#highlight td.dark {
    color: #F2F4F5;
}

#highlight td.range-low.dark {
    color: #006D9C;
}

#highlight td.range-elevated.dark {
    background-color: #EC9960 !important;
    font-weight: bold;
}

#highlight td.range-severe.dark {
    background-color: #AF575A !important;
    font-weight: bold;
}

.tooltip-inner { max-width: 400px;
    text-align: left;
    font-size: 14px;
    font-weight: normal;
    }